html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
body{
    margin: 0;
    background-color: #171717;
    color: #E6E6E6;
}
.hero{
    font-size: xx-large;
}
.title h1{
    text-align: center;
    font-size: xx-large;
}
.description p{
    font-size: x-large;
}
.link{
    color: #E6E6E6;
    font-size: x-large;
}